<div fxFlex="auto" class="px-8">
    <div class="max-w-2xl mx-auto">
        <div class="overflow-auto mt-12">
            <form [formGroup]="form">
                <div class="border-b sticky left-0" fxLayout="row"  fxLayout.lt-md="row" fxLayoutAlign="start center">
                    <div @fadeInUp class="card" fxFlex="auto">
                        <p class="h2 text-muted text-center mt-4">Ingrese los datos del producto</p>
                        <div class="border-b sticky left-0">
                            <div class="px-6 pt-4 pb-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                <mat-form-field class="d-block" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre" required formControlName="nombre" >
                                </mat-form-field>
                            </div>
                            <div class="px-6 pt-4 pb-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                <mat-form-field class="d-block"  appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput placeholder="Cantidad" required formControlName="cantidad" >
                                </mat-form-field>
                            </div>
                            <div class="px-6 pt-4 pb-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                                <mat-form-field class="d-block" appearance="outline">
                                    <mat-label>Fecha de ingreso</mat-label>
                                    <input matInput [matDatepicker]="picker" required formControlName="fechaIngreso" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 mt-3 text-center" >
                        <button mat-raised-button color="primary" type="submit" class="mx-4" (click)="guardar()" >
                            <mat-icon>done</mat-icon>
                            <span>Aceptar</span>
                        </button>
                        <button mat-raised-button color="accent" type="button" class="mx-4" routerLink="/productos">
                            <mat-icon>close</mat-icon>
                            <span>Cancelar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>