<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item [routerLink]="['/nexos']">
          <mat-icon>home</mat-icon>
          <span>Asignar Usuario</span>
        </button>
        <button mat-menu-item [routerLink]="['/productos']">
          <mat-icon>assignment</mat-icon>
          <span>Producto</span>
        </button>
      </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Prueba de Conocimiento Nexos</span>
</mat-toolbar>
<router-outlet></router-outlet>