<mat-toolbar class="h4">Asignar Usuario</mat-toolbar>

<div class="mat-elevation-z8">
  <div class="py-4">
        <p class="px-3 my-4 h6"></p>
        <mat-form-field appearance="outline" class="w-25 px-3">
            <mat-label>Usuario</mat-label>
            <mat-select [(ngModel)]="usuarioBuscar" name="food">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
                {{usuario.nombre}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="w-25 px-3 d-inline-block">
            <button mat-raised-button color="primary" (click)="asignar()">Asignar</button>
        </div>
    </div>
</div>
