<mat-toolbar class="h4">Listar Productos</mat-toolbar>

<div class="mat-elevation-z8">
  <div class="py-4">
    <p class="px-3 my-4 h6">Criterio de Búsqueda:</p>
    <mat-form-field appearance="outline" class="w-25 px-3">
      <mat-label>Usuario</mat-label>
      <mat-select [(ngModel)]="usuarioBuscar" name="food">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
          {{usuario.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-25 px-3">
      <input matInput [(ngModel)]="nombreBuscar" placeholder="nombre">
    </mat-form-field>

    <div class="w-25 px-3 d-inline-block">
      <button mat-raised-button class="" color="primary" (click)="buscar()">Buscar</button>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="idProducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idProducto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.usuario.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef > Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" [routerLink]="['editar',row.idProducto]" style="margin-right:20px">Actualizar</button>
          <button mat-raised-button color="accent"  (click)="eliminar(row.idProducto, row.nombre)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  > </mat-paginator>

</div>

<button mat-fab color="accent" style="float: right; margin-right: 20px;" [routerLink]="['/productos/nuevo']">
  <mat-icon>create</mat-icon>
</button>