<div class="modal-header">
	<h3 class="at-font-h5 modal-title pull-left" id="title-modal"> {{ title }} </h3>
	<button type="button" class="close pull-right" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>¿Está seguro que desea eliminar el producto <b>{{nombre}}</b>?</p>
    <div class="text-center">
        <button  mat-raised-button color="accent" class="mx-2" (click)="onNoClick()">Cancelar</button>
        <button  mat-raised-button color="primary" class="mx-2" (click)="eliminar()">Eliminar</button>
    </div>
</div>